<p>login works</p>
<div id="g_id_onload"
     data-client_id="845984229486-oh3okk09tde6jss5p7jtemmb2oan5q1d.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:3000/api/login"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="center">
</div>